div#report {
    @media screen {
        margin-top: calc(10vh + 1px);
    }

    .mat-card.field {
        @media print {
            box-shadow: none;
            .mat-card-title {
                font-size: 70%;
                font-weight: normal;
                margin-bottom: .2rem;
            }
            .mat-card-content {
                font-size: 120%;
                font-weight: bold;
            }
        }
        @media screen {
            display: none;
        }
    }    

    .mat-form-field {
        @media screen {
            display: block;
            margin: 0 0.5rem;   
        }
        @media print {
            display: none;
        }
    }

    div.buttons {
        @media screen {
            position: fixed;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            margin-right: 0.5rem;
            button {
                margin-bottom: 0.5rem;
             	background: #ea8000;
                color: white;
            }
            z-index: 100;
        }
        @media print {
            display: none;
        }
    }
}
