<div id="report">
    <div class="buttons">
        <button mat-fab class="add" title="Add" (click)="addBeforeAfter()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <mat-card class="field">
        <mat-card-title>Client Name</mat-card-title>
        <mat-card-content>{{report.clientName}}</mat-card-content>
    </mat-card>
    <mat-form-field appearance="standard">
        <mat-label>Client Name</mat-label>
        <input matInput name="clientName" type="text" [(ngModel)]="report.clientName" />
    </mat-form-field>

    <mat-card class="field">
        <mat-card-title>Address</mat-card-title>
        <mat-card-content>{{report.address}}</mat-card-content>
    </mat-card>
    <mat-form-field appearance="standard">
        <mat-label>Address</mat-label>
        <input matInput name="address" type="text" [(ngModel)]="report.address" />
    </mat-form-field>

    <mat-card class="field">
        <mat-card-title>Date & Time of Service</mat-card-title>
        <mat-card-content>{{report.datetime|date:'M/d/y, h:mm a'}}</mat-card-content>
    </mat-card>
    <mat-form-field appearance="standard">
        <mat-label>Date & Time of Service</mat-label>
        <input matInput name="datetime" type="datetime-local" [(ngModel)]="report.datetime" />
    </mat-form-field>

    <app-before-after-list [list]="report.beforeAfterList"></app-before-after-list>
</div>