<div id="controlbar">
    <div id="title">Inspection&nbsp;Report&nbsp;Generator</div>
<!--    <mat-divider [vertical]="true"></mat-divider> -->
    <div id="utility">
        <button class="save" title="Save" mat-raised-button (click)="save()">
            <div>Save Report</div>
        </button>
        <input type="file" (change)="loadPicked($event)" #file />
        <button class="load" title="Load" mat-raised-button appDnd (fileDropped)="loadDrop($event)" (click)="file.click()">
            <div>Load Report</div>
        </button>
    </div>
</div>