div#controlbar {
    @media print {
        display: none;
    }
    @media screen {
        overflow: hidden;
        display: flex;
        width: 100%;
        div#title {
            margin-left: .5rem;
            font-family: Roboto;
            font-size: 115%;
            display: flex;
            align-items: center;
        }
        div#utility {
            width: 100%;
            text-align: right;
            display: flex;
            flex-direction: row-reverse;
            input[type=file] {
                display: none;
            }
            button {
                margin: .5rem;
             	background: #ea8000;
                color: white;
            }
        }
        border-bottom: 1px black dashed;
        position: fixed;
        top: 0;
        height: 10vh;
        z-index: 100;
        background: white;
    }
}