<mat-card class="before-after">
    <mat-card-title>
        <form (submit)="this.blur($event)">
            <input [(ngModel)]="this.model.description" type="text" name="description"
                (click)="this.onEditDescription()" />
        </form>
        <div class="buttons">
            <button mat-icon-button color="black" class="delete" title="Delete" (click)="delete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <app-photo class="before photo" [photo]="this.model.before"></app-photo>
        <app-photo class="after photo" [photo]="this.model.after"></app-photo>
    </mat-card-content>
</mat-card>