mat-card.before-after {
    width: 100%;
    margin: 0 0 1rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    page-break-inside: avoid;

    mat-card-title {
        display: flex;
        input {
            font-size: 1.5rem;
            border: none;
        }
        div.buttons {
            @media screen {
                text-align: right;
                width: 100%;
            }
            @media print {
                display: none;
            }
        }
    }

    mat-card-content {
        display: flex;
        flex-direction: row;
        
        .photo {
            margin: 0 .05rem;
            padding: 0;
            width: calc(50% - .6rem);
            margin-right: .5rem;
            box-shadow: .4rem .4rem 10px #888;
            border-radius: .2rem;
       }        
    }
}