div#branding {
    @media screen {
        display: none;
    }
    @media print {
        display: flex;
        width: 100%;
        div.title {
            font-family: 'Roboto';
            font-size: 110%;
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
        }
        img {
            width: 40%;
        }
    }
}