<div id="branding">
    <img src="assets/img/movingdaycleaning.svg" />
    <div class="title">Inspection Report</div>
</div>
<app-controlbar [report]="report"></app-controlbar>
<app-report [report]="report"></app-report>
