<div id="before-after-list" cdkDropList [cdkDropListData]="list" (cdkDropListDropped)="dropBeforeAfter($event)">
  <div class="before-after" cdkDrag [cdkDragData]="beforeAfter" *ngFor="let beforeAfter of list; let i = index"
    [cdkDragStartDelay]="500">
    <app-before-after [beforeAfter]="beforeAfter" (delete)="deleteBeforeAfter(i)"></app-before-after>
  </div>
</div>
