div#before-after-list {
  margin-top: .5rem;
  margin-right: .2rem;
  
  div.before-after {
    margin-left: 0.5rem;
    &.cdk-drag-placeholder {
      opacity: 0;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    &.cdk-drag {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    div.buttons {
      position: relative;
      display: flex;
      bottom: -2.9rem;
      flex-direction: row-reverse;
      margin-right: 0.5rem;
      button {
        margin-bottom: 0.5rem;
      }
      z-index: 50;
    }
  }


  div#dnd {
    height: 20vh;
    text-align: center;
    border: dashed 1px #979797;

    font-size: 100%;
    img {
      float: left;
      width: 20%;
    }
    input {
      opacity: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }

  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
