<mat-card class="photo" appDnd (fileDropped)="onFileDropped($event)">
    <mat-card-content class="image">
        <mat-icon *ngIf="this.model.data == null">insert_photo</mat-icon>
        <img *ngIf="this.model.data != null" src="{{model.data}}" />
    </mat-card-content>
</mat-card>