mat-card {
    display: flex;
    background: linear-gradient(135deg, #555, white);
    -webkit-print-color-adjust: exact;
    padding: 0;
    min-height: 5rem;
    height: 100%;
    border-radius: .2rem;

    align-content: center;
    mat-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        min-height: 4rem;
        height: 100%;
        width: calc(100% - .6rem);
        height: calc(100% - .6rem);
        margin: .3rem auto 0 auto;
        

        .mat-icon {
            background: white;
            display: block;
        }
        img {
            max-width: 100%;
            margin: auto;
        }
    }
}


.fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }

  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
